body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1947px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1218px;
  height:1261px;
}
#u24 {
  position:absolute;
  left:161px;
  top:2198px;
  width:1218px;
  height:1261px;
}
#u25 {
  position:absolute;
  left:2px;
  top:622px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u26 {
  position:absolute;
  left:533px;
  top:2007px;
  width:383px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u28 {
  position:absolute;
  left:185px;
  top:2131px;
  width:145px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u30 {
  position:absolute;
  left:877px;
  top:112px;
  width:383px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u32 {
  position:absolute;
  left:86px;
  top:424px;
  width:186px;
  height:149px;
}
#u33 {
  position:absolute;
  left:10px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:591px;
  top:398px;
  width:1361px;
  height:1426px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:88px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:88px;
  font-size:28px;
}
#u36 {
  position:absolute;
  left:2px;
  top:28px;
  width:241px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:88px;
}
#u37 {
  position:absolute;
  left:245px;
  top:0px;
  width:1111px;
  height:88px;
  font-size:28px;
}
#u38 {
  position:absolute;
  left:2px;
  top:28px;
  width:1107px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u39 {
  position:absolute;
  left:0px;
  top:88px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u40 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u41 {
  position:absolute;
  left:245px;
  top:88px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:1107px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:70px;
}
#u43 {
  position:absolute;
  left:0px;
  top:191px;
  width:245px;
  height:70px;
  font-size:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:241px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:70px;
}
#u45 {
  position:absolute;
  left:245px;
  top:191px;
  width:1111px;
  height:70px;
  font-size:28px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:1107px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:70px;
}
#u47 {
  position:absolute;
  left:0px;
  top:261px;
  width:245px;
  height:70px;
  font-size:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:18px;
  width:241px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:70px;
}
#u49 {
  position:absolute;
  left:245px;
  top:261px;
  width:1111px;
  height:70px;
  font-size:28px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:1107px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u51 {
  position:absolute;
  left:0px;
  top:331px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u52 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u53 {
  position:absolute;
  left:245px;
  top:331px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:1107px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u55 {
  position:absolute;
  left:0px;
  top:434px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u56 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u57 {
  position:absolute;
  left:245px;
  top:434px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:1107px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
}
#u59 {
  position:absolute;
  left:0px;
  top:537px;
  width:245px;
  height:136px;
  font-size:28px;
}
#u60 {
  position:absolute;
  left:2px;
  top:52px;
  width:241px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:136px;
}
#u61 {
  position:absolute;
  left:245px;
  top:537px;
  width:1111px;
  height:136px;
  font-size:28px;
}
#u62 {
  position:absolute;
  left:2px;
  top:18px;
  width:1107px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u63 {
  position:absolute;
  left:0px;
  top:673px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u64 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u65 {
  position:absolute;
  left:245px;
  top:673px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:1107px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u67 {
  position:absolute;
  left:0px;
  top:776px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u68 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u69 {
  position:absolute;
  left:245px;
  top:776px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u70 {
  position:absolute;
  left:2px;
  top:35px;
  width:1107px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u71 {
  position:absolute;
  left:0px;
  top:879px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u72 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u73 {
  position:absolute;
  left:245px;
  top:879px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u74 {
  position:absolute;
  left:2px;
  top:35px;
  width:1107px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u75 {
  position:absolute;
  left:0px;
  top:982px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u76 {
  position:absolute;
  left:2px;
  top:35px;
  width:241px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u77 {
  position:absolute;
  left:245px;
  top:982px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u78 {
  position:absolute;
  left:2px;
  top:35px;
  width:1107px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:233px;
}
#u79 {
  position:absolute;
  left:0px;
  top:1085px;
  width:245px;
  height:233px;
  font-size:28px;
}
#u80 {
  position:absolute;
  left:2px;
  top:84px;
  width:241px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:233px;
}
#u81 {
  position:absolute;
  left:245px;
  top:1085px;
  width:1111px;
  height:233px;
  font-size:28px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:1107px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:103px;
}
#u83 {
  position:absolute;
  left:0px;
  top:1318px;
  width:245px;
  height:103px;
  font-size:28px;
}
#u84 {
  position:absolute;
  left:2px;
  top:18px;
  width:241px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:103px;
}
#u85 {
  position:absolute;
  left:245px;
  top:1318px;
  width:1111px;
  height:103px;
  font-size:28px;
}
#u86 {
  position:absolute;
  left:2px;
  top:18px;
  width:1107px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u87 {
  position:absolute;
  left:613px;
  top:179px;
  width:1258px;
  height:198px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  word-wrap:break-word;
}
