body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:6668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1232 {
  position:absolute;
  left:336px;
  top:305px;
  width:1920px;
  height:1080px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:1001px;
}
#u1234 {
  position:absolute;
  left:416px;
  top:372px;
  width:1824px;
  height:1001px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:492px;
  width:1820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:31px;
}
#u1236 {
  position:absolute;
  left:416px;
  top:773px;
  width:14px;
  height:31px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:16px;
}
#u1238 {
  position:absolute;
  left:979px;
  top:1344px;
  width:501px;
  height:16px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:739px;
  top:655px;
  width:1115px;
  height:267px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:126px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1242 {
  position:absolute;
  left:1663px;
  top:866px;
  width:40px;
  height:40px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u1244 {
  position:absolute;
  left:1718px;
  top:867px;
  width:44px;
  height:38px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u1246 {
  position:absolute;
  left:1767px;
  top:859px;
  width:59px;
  height:53px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
}
#u1248 {
  position:absolute;
  left:1033px;
  top:603px;
  width:421px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  visibility:hidden;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:198px;
}
#u1250 {
  position:absolute;
  left:728px;
  top:945px;
  width:1138px;
  height:198px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:91px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u1252 {
  position:absolute;
  left:1663px;
  top:498px;
  width:165px;
  height:157px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u1254 {
  position:absolute;
  left:767px;
  top:976px;
  width:132px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u1256 {
  position:absolute;
  left:816px;
  top:1024px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:19px;
}
#u1258 {
  position:absolute;
  left:816px;
  top:1077px;
  width:353px;
  height:19px;
  font-size:16px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:116px;
}
#u1260 {
  position:absolute;
  left:1819px;
  top:470px;
  width:244px;
  height:116px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:50px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:53px;
}
#u1262 {
  position:absolute;
  left:1854px;
  top:502px;
  width:161px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1264 {
  position:absolute;
  left:1133px;
  top:513px;
  width:191px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:19px;
}
#u1266 {
  position:absolute;
  left:991px;
  top:584px;
  width:529px;
  height:19px;
  font-size:16px;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1268 {
  position:absolute;
  left:2327px;
  top:1450px;
  width:32px;
  height:27px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:27px;
}
#u1271 {
  position:absolute;
  left:755px;
  top:665px;
  width:157px;
  height:27px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
}
#u1273 {
  position:absolute;
  left:755px;
  top:692px;
  width:157px;
  height:17px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:0px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:37px;
}
#u1275 {
  position:absolute;
  left:789px;
  top:740px;
  width:266px;
  height:37px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:10px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:49px;
}
#u1277 {
  position:absolute;
  left:739px;
  top:862px;
  width:605px;
  height:49px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:16px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1279 {
  position:absolute;
  left:336px;
  top:1545px;
  width:1920px;
  height:1080px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:1001px;
}
#u1281 {
  position:absolute;
  left:416px;
  top:1612px;
  width:1824px;
  height:1001px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:492px;
  width:1820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:31px;
}
#u1283 {
  position:absolute;
  left:416px;
  top:2013px;
  width:14px;
  height:31px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:16px;
}
#u1285 {
  position:absolute;
  left:979px;
  top:2584px;
  width:501px;
  height:16px;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  position:absolute;
  left:501px;
  top:2388px;
  width:1019px;
  height:168px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:76px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u1289 {
  position:absolute;
  left:1441px;
  top:2492px;
  width:59px;
  height:53px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u1291 {
  position:absolute;
  left:2327px;
  top:2690px;
  width:32px;
  height:27px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:27px;
}
#u1294 {
  position:absolute;
  left:501px;
  top:1725px;
  width:157px;
  height:27px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
}
#u1296 {
  position:absolute;
  left:501px;
  top:1752px;
  width:157px;
  height:17px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:0px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:49px;
}
#u1298 {
  position:absolute;
  left:501px;
  top:1996px;
  width:605px;
  height:49px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:16px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1638px;
  height:942px;
}
#u1300 {
  position:absolute;
  left:2609px;
  top:1612px;
  width:1638px;
  height:942px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:463px;
  width:1634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:1001px;
}
#u1302 {
  position:absolute;
  left:1675px;
  top:1612px;
  width:17px;
  height:1001px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:492px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:892px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:1718px;
  top:1709px;
  width:497px;
  height:892px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:438px;
  width:493px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:97px;
}
#u1306 {
  position:absolute;
  left:2106px;
  top:1612px;
  width:109px;
  height:97px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:40px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:207px;
}
#u1308 {
  position:absolute;
  left:483px;
  top:1779px;
  width:997px;
  height:207px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:96px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:160px;
}
#u1310 {
  position:absolute;
  left:809px;
  top:976px;
  width:820px;
  height:160px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:72px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:27px;
}
#u1312 {
  position:absolute;
  left:507px;
  top:2351px;
  width:163px;
  height:27px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:24px;
}
#u1314 {
  position:absolute;
  left:658px;
  top:1735px;
  width:529px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:45px;
}
#u1316 {
  position:absolute;
  left:1948px;
  top:1634px;
  width:92px;
  height:44px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:14px;
  width:88px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1318 {
  position:absolute;
  left:2135px;
  top:1672px;
  width:64px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u1320 {
  position:absolute;
  left:755px;
  top:670px;
  width:42px;
  height:33px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:33px;
}
#u1322 {
  position:absolute;
  left:501px;
  top:1725px;
  width:42px;
  height:33px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1324 {
  position:absolute;
  left:1769px;
  top:1783px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u1326 {
  position:absolute;
  left:1767px;
  top:1808px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1328 {
  position:absolute;
  left:1737px;
  top:1783px;
  width:25px;
  height:22px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1330 {
  position:absolute;
  left:1737px;
  top:1836px;
  width:25px;
  height:22px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1332 {
  position:absolute;
  left:1737px;
  top:1881px;
  width:25px;
  height:22px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1334 {
  position:absolute;
  left:1737px;
  top:1926px;
  width:25px;
  height:22px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1336 {
  position:absolute;
  left:1767px;
  top:1838px;
  width:153px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1338 {
  position:absolute;
  left:1767px;
  top:1881px;
  width:159px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(241, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1340 {
  position:absolute;
  left:1772px;
  top:1929px;
  width:154px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:948px;
}
#u1342 {
  position:absolute;
  left:372px;
  top:2740px;
  width:1912px;
  height:948px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:466px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:948px;
}
#u1344 {
  position:absolute;
  left:2520px;
  top:2690px;
  width:1912px;
  height:948px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:466px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:948px;
}
#u1346 {
  position:absolute;
  left:4756px;
  top:2690px;
  width:1912px;
  height:948px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:466px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:948px;
}
#u1348 {
  position:absolute;
  left:2520px;
  top:3866px;
  width:1912px;
  height:948px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:466px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1819px;
  height:966px;
}
#u1350 {
  position:absolute;
  left:2495px;
  top:5005px;
  width:1819px;
  height:966px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:475px;
  width:1815px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:554px;
}
#u1352 {
  position:absolute;
  left:2495px;
  top:6059px;
  width:604px;
  height:554px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:269px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
