body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1912px;
  height:948px;
}
#u89 {
  position:absolute;
  left:901px;
  top:184px;
  width:1912px;
  height:948px;
}
#u90 {
  position:absolute;
  left:2px;
  top:466px;
  width:1908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:892px;
}
#u91 {
  position:absolute;
  left:901px;
  top:1403px;
  width:1920px;
  height:892px;
}
#u92 {
  position:absolute;
  left:2px;
  top:438px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
}
#u93 {
  position:absolute;
  left:634px;
  top:770px;
  width:210px;
  height:49px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u95 {
  position:absolute;
  left:252px;
  top:973px;
  width:592px;
  height:49px;
  font-size:20px;
  color:#000000;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:588px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u97 {
  position:absolute;
  left:1212px;
  top:922px;
  width:130px;
  height:34px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:48px;
}
#u99 {
  position:absolute;
  left:482px;
  top:898px;
  width:439px;
  height:48px;
}
#u100 {
  position:absolute;
  left:2px;
  top:16px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:49px;
}
#u101 {
  position:absolute;
  left:651px;
  top:1850px;
  width:210px;
  height:49px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u103 {
  position:absolute;
  left:513px;
  top:854px;
  width:130px;
  height:34px;
}
#u104 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u105 {
  position:absolute;
  left:675px;
  top:1920px;
  width:130px;
  height:34px;
}
#u106 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u107 {
  position:absolute;
  left:1218px;
  top:1980px;
  width:130px;
  height:34px;
}
#u108 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:1241px;
  top:766px;
  width:225px;
  height:58px;
}
#u110 {
  position:absolute;
  left:2px;
  top:21px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:1197px;
  top:966px;
  width:581px;
  height:58px;
}
#u112 {
  position:absolute;
  left:2px;
  top:21px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:844px;
  top:795px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:401px;
  height:8px;
}
#u113_seg1 {
  position:absolute;
  left:371px;
  top:-20px;
  width:40px;
  height:40px;
}
#u114 {
  position:absolute;
  left:148px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:643px;
  top:871px;
  width:0px;
  height:0px;
}
#u115_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:638px;
  height:8px;
}
#u115_seg1 {
  position:absolute;
  left:630px;
  top:-4px;
  width:8px;
  height:55px;
}
#u115_seg2 {
  position:absolute;
  left:614px;
  top:25px;
  width:40px;
  height:40px;
}
#u116 {
  position:absolute;
  left:292px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:844px;
  top:998px;
  width:0px;
  height:0px;
}
#u117_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:340px;
  height:8px;
}
#u117_seg1 {
  position:absolute;
  left:332px;
  top:-7px;
  width:8px;
  height:11px;
}
#u117_seg2 {
  position:absolute;
  left:332px;
  top:-7px;
  width:21px;
  height:8px;
}
#u117_seg3 {
  position:absolute;
  left:327px;
  top:-23px;
  width:40px;
  height:40px;
}
#u118 {
  position:absolute;
  left:128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u119 {
  position:absolute;
  left:123px;
  top:2109px;
  width:150px;
  height:48px;
}
#u120 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:892px;
}
#u121 {
  position:absolute;
  left:901px;
  top:2605px;
  width:1920px;
  height:892px;
}
#u122 {
  position:absolute;
  left:2px;
  top:438px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:156px;
}
#u123 {
  position:absolute;
  left:307px;
  top:2055px;
  width:594px;
  height:156px;
  font-size:18px;
  text-align:left;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:590px;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:1212px;
  top:2033px;
  width:1300px;
  height:199px;
}
#u126 {
  position:absolute;
  left:2px;
  top:92px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:901px;
  top:2133px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:315px;
  height:8px;
}
#u127_seg1 {
  position:absolute;
  left:285px;
  top:-20px;
  width:40px;
  height:40px;
}
#u128 {
  position:absolute;
  left:106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u129 {
  position:absolute;
  left:592px;
  top:3166px;
  width:213px;
  height:63px;
}
#u130 {
  position:absolute;
  left:10px;
  top:10px;
  width:193px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:49px;
}
#u131 {
  position:absolute;
  left:1225px;
  top:3142px;
  width:753px;
  height:49px;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:749px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:158px;
}
#u133 {
  position:absolute;
  left:1231px;
  top:3246px;
  width:632px;
  height:158px;
  font-size:18px;
  text-align:left;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:628px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u135 {
  position:absolute;
  left:1694px;
  top:61px;
  width:253px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:576px;
}
#u137 {
  position:absolute;
  left:2931px;
  top:2763px;
  width:1310px;
  height:576px;
}
#u138 {
  position:absolute;
  left:2px;
  top:280px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:805px;
  top:3198px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:409px;
  height:8px;
}
#u139_seg1 {
  position:absolute;
  left:401px;
  top:-4px;
  width:8px;
  height:135px;
}
#u139_seg2 {
  position:absolute;
  left:401px;
  top:123px;
  width:25px;
  height:8px;
}
#u139_seg3 {
  position:absolute;
  left:400px;
  top:107px;
  width:40px;
  height:40px;
}
#u140 {
  position:absolute;
  left:226px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
