body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u973 {
  position:absolute;
  left:336px;
  top:305px;
  width:1920px;
  height:1080px;
}
#u974 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:1001px;
}
#u975 {
  position:absolute;
  left:416px;
  top:372px;
  width:1824px;
  height:1001px;
}
#u976 {
  position:absolute;
  left:2px;
  top:492px;
  width:1820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:31px;
}
#u977 {
  position:absolute;
  left:416px;
  top:773px;
  width:14px;
  height:31px;
}
#u978 {
  position:absolute;
  left:2px;
  top:8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:16px;
}
#u979 {
  position:absolute;
  left:979px;
  top:1344px;
  width:501px;
  height:16px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:739px;
  top:655px;
  width:1115px;
  height:267px;
}
#u982 {
  position:absolute;
  left:2px;
  top:126px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u983 {
  position:absolute;
  left:1663px;
  top:866px;
  width:40px;
  height:40px;
}
#u984 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u985 {
  position:absolute;
  left:1718px;
  top:867px;
  width:44px;
  height:38px;
}
#u986 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u987 {
  position:absolute;
  left:1767px;
  top:859px;
  width:59px;
  height:53px;
}
#u988 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u989 {
  position:absolute;
  left:750px;
  top:859px;
  width:133px;
  height:37px;
  font-size:16px;
}
#u990 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u991 {
  position:absolute;
  left:754px;
  top:869px;
  width:22px;
  height:17px;
}
#u992 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
}
#u993 {
  position:absolute;
  left:1033px;
  top:603px;
  width:421px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  visibility:hidden;
  white-space:nowrap;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:198px;
}
#u995 {
  position:absolute;
  left:728px;
  top:945px;
  width:1138px;
  height:198px;
}
#u996 {
  position:absolute;
  left:2px;
  top:91px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u997 {
  position:absolute;
  left:1663px;
  top:498px;
  width:165px;
  height:157px;
}
#u998 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u999 {
  position:absolute;
  left:767px;
  top:976px;
  width:132px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u1002 {
  position:absolute;
  left:750px;
  top:696px;
  width:82px;
  height:24px;
  font-size:20px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
}
#u1004 {
  position:absolute;
  left:816px;
  top:685px;
  width:241px;
  height:35px;
  font-size:20px;
  color:#0D86FF;
}
#u1005 {
  position:absolute;
  left:2px;
  top:6px;
  width:237px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u1006 {
  position:absolute;
  left:750px;
  top:692px;
  width:66px;
  height:28px;
  font-size:20px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u1008 {
  position:absolute;
  left:1061px;
  top:689px;
  width:116px;
  height:29px;
  font-size:20px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u1010 {
  position:absolute;
  left:1161px;
  top:691px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:35px;
}
#u1012 {
  position:absolute;
  left:1252px;
  top:688px;
  width:547px;
  height:35px;
  font-size:20px;
  color:#0D86FF;
}
#u1013 {
  position:absolute;
  left:2px;
  top:6px;
  width:543px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u1014 {
  position:absolute;
  left:816px;
  top:1024px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:19px;
}
#u1016 {
  position:absolute;
  left:816px;
  top:1077px;
  width:353px;
  height:19px;
  font-size:16px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:19px;
}
#u1018 {
  position:absolute;
  left:1350px;
  top:1024px;
  width:321px;
  height:19px;
  font-size:16px;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:19px;
}
#u1020 {
  position:absolute;
  left:1350px;
  top:1077px;
  width:353px;
  height:19px;
  font-size:16px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:116px;
}
#u1022 {
  position:absolute;
  left:1819px;
  top:470px;
  width:244px;
  height:116px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:50px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:68px;
}
#u1024 {
  position:absolute;
  left:1834px;
  top:487px;
  width:197px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1025 {
  position:absolute;
  left:0px;
  top:15px;
  width:197px;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1026 {
  position:absolute;
  left:1133px;
  top:513px;
  width:191px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:19px;
}
#u1028 {
  position:absolute;
  left:991px;
  top:584px;
  width:529px;
  height:19px;
  font-size:16px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:101px;
}
#u1030 {
  position:absolute;
  left:767px;
  top:1010px;
  width:1070px;
  height:101px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:42px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:1610px;
  top:870px;
  width:41px;
  height:31px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u1034 {
  position:absolute;
  left:750px;
  top:736px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:107px;
}
#u1036 {
  position:absolute;
  left:840px;
  top:1010px;
  width:841px;
  height:107px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:46px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u1038 {
  position:absolute;
  left:848px;
  top:1024px;
  width:98px;
  height:36px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:60px;
}
#u1040 {
  position:absolute;
  left:1495px;
  top:1057px;
  width:156px;
  height:60px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1042 {
  position:absolute;
  left:1133px;
  top:156px;
  width:202px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1044 {
  position:absolute;
  left:92px;
  top:1017px;
  width:147px;
  height:51px;
}
#u1045 {
  position:absolute;
  left:10px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:16px;
}
#u1046 {
  position:absolute;
  left:69px;
  top:1344px;
  width:326px;
  height:16px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  visibility:hidden;
  white-space:nowrap;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1048 {
  position:absolute;
  left:92px;
  top:1113px;
  width:147px;
  height:113px;
}
#u1049 {
  position:absolute;
  left:10px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1050 {
  position:absolute;
  left:239px;
  top:1043px;
  width:0px;
  height:0px;
}
#u1050_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:475px;
  height:8px;
}
#u1050_seg1 {
  position:absolute;
  left:467px;
  top:-4px;
  width:8px;
  height:9px;
}
#u1050_seg2 {
  position:absolute;
  left:467px;
  top:-3px;
  width:22px;
  height:8px;
}
#u1050_seg3 {
  position:absolute;
  left:463px;
  top:-19px;
  width:40px;
  height:40px;
}
#u1051 {
  position:absolute;
  left:195px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:239px;
  top:1170px;
  width:0px;
  height:0px;
}
#u1052_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1062px;
  height:8px;
}
#u1052_seg1 {
  position:absolute;
  left:1054px;
  top:-27px;
  width:8px;
  height:31px;
}
#u1052_seg2 {
  position:absolute;
  left:1038px;
  top:-41px;
  width:40px;
  height:40px;
}
#u1053 {
  position:absolute;
  left:492px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:515px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1054 {
  position:absolute;
  left:92px;
  top:1471px;
  width:576px;
  height:515px;
}
#u1055 {
  position:absolute;
  left:10px;
  top:10px;
  width:556px;
  word-wrap:break-word;
}
