body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u910 {
  position:absolute;
  left:336px;
  top:305px;
  width:1920px;
  height:1080px;
}
#u911 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:1001px;
}
#u912 {
  position:absolute;
  left:416px;
  top:372px;
  width:1824px;
  height:1001px;
}
#u913 {
  position:absolute;
  left:2px;
  top:492px;
  width:1820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:31px;
}
#u914 {
  position:absolute;
  left:416px;
  top:773px;
  width:14px;
  height:31px;
}
#u915 {
  position:absolute;
  left:2px;
  top:8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:16px;
}
#u916 {
  position:absolute;
  left:979px;
  top:1344px;
  width:501px;
  height:16px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:739px;
  top:655px;
  width:1115px;
  height:267px;
}
#u919 {
  position:absolute;
  left:2px;
  top:126px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u920 {
  position:absolute;
  left:1663px;
  top:866px;
  width:40px;
  height:40px;
}
#u921 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u922 {
  position:absolute;
  left:1718px;
  top:867px;
  width:44px;
  height:38px;
}
#u923 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:53px;
}
#u924 {
  position:absolute;
  left:1767px;
  top:859px;
  width:59px;
  height:53px;
}
#u925 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u926 {
  position:absolute;
  left:750px;
  top:859px;
  width:133px;
  height:37px;
  font-size:16px;
}
#u927 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u928 {
  position:absolute;
  left:754px;
  top:869px;
  width:22px;
  height:17px;
}
#u929 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
}
#u930 {
  position:absolute;
  left:1033px;
  top:603px;
  width:421px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  visibility:hidden;
  white-space:nowrap;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1138px;
  height:198px;
}
#u932 {
  position:absolute;
  left:728px;
  top:945px;
  width:1138px;
  height:198px;
}
#u933 {
  position:absolute;
  left:2px;
  top:91px;
  width:1134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:157px;
}
#u934 {
  position:absolute;
  left:1663px;
  top:498px;
  width:165px;
  height:157px;
}
#u935 {
  position:absolute;
  left:2px;
  top:70px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u936 {
  position:absolute;
  left:767px;
  top:976px;
  width:132px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u939 {
  position:absolute;
  left:750px;
  top:696px;
  width:82px;
  height:24px;
  font-size:20px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:35px;
}
#u941 {
  position:absolute;
  left:816px;
  top:685px;
  width:241px;
  height:35px;
  font-size:20px;
  color:#0D86FF;
}
#u942 {
  position:absolute;
  left:2px;
  top:6px;
  width:237px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
}
#u943 {
  position:absolute;
  left:750px;
  top:692px;
  width:66px;
  height:28px;
  font-size:20px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u945 {
  position:absolute;
  left:1061px;
  top:689px;
  width:116px;
  height:29px;
  font-size:20px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u947 {
  position:absolute;
  left:1161px;
  top:691px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:35px;
}
#u949 {
  position:absolute;
  left:1252px;
  top:688px;
  width:547px;
  height:35px;
  font-size:20px;
  color:#0D86FF;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:543px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
}
#u951 {
  position:absolute;
  left:816px;
  top:1024px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:19px;
}
#u953 {
  position:absolute;
  left:816px;
  top:1077px;
  width:353px;
  height:19px;
  font-size:16px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:19px;
}
#u955 {
  position:absolute;
  left:1350px;
  top:1024px;
  width:321px;
  height:19px;
  font-size:16px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:19px;
}
#u957 {
  position:absolute;
  left:1350px;
  top:1077px;
  width:353px;
  height:19px;
  font-size:16px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:116px;
}
#u959 {
  position:absolute;
  left:1819px;
  top:470px;
  width:244px;
  height:116px;
}
#u960 {
  position:absolute;
  left:2px;
  top:50px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:68px;
}
#u961 {
  position:absolute;
  left:1834px;
  top:487px;
  width:197px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:0px;
  top:15px;
  width:197px;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u963 {
  position:absolute;
  left:1133px;
  top:513px;
  width:191px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:19px;
}
#u965 {
  position:absolute;
  left:991px;
  top:584px;
  width:529px;
  height:19px;
  font-size:16px;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:101px;
}
#u967 {
  position:absolute;
  left:767px;
  top:1010px;
  width:1070px;
  height:101px;
}
#u968 {
  position:absolute;
  left:2px;
  top:42px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
}
#u969 {
  position:absolute;
  left:1610px;
  top:870px;
  width:41px;
  height:31px;
}
#u970 {
  position:absolute;
  left:2px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u971 {
  position:absolute;
  left:750px;
  top:736px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:107px;
}
#u973 {
  position:absolute;
  left:840px;
  top:1010px;
  width:841px;
  height:107px;
}
#u974 {
  position:absolute;
  left:2px;
  top:46px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u975 {
  position:absolute;
  left:848px;
  top:1024px;
  width:98px;
  height:36px;
}
#u976 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:60px;
}
#u977 {
  position:absolute;
  left:1495px;
  top:1057px;
  width:156px;
  height:60px;
}
#u978 {
  position:absolute;
  left:2px;
  top:22px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
