body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u1226 {
  position:absolute;
  left:336px;
  top:305px;
  width:1920px;
  height:1080px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1824px;
  height:1001px;
}
#u1228 {
  position:absolute;
  left:416px;
  top:372px;
  width:1824px;
  height:1001px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:492px;
  width:1820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:31px;
}
#u1230 {
  position:absolute;
  left:416px;
  top:773px;
  width:14px;
  height:31px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:16px;
}
#u1232 {
  position:absolute;
  left:1267px;
  top:1331px;
  width:501px;
  height:16px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
}
#u1234 {
  position:absolute;
  left:1033px;
  top:603px;
  width:421px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  visibility:hidden;
  white-space:nowrap;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:894px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:896px;
  top:427px;
  width:1241px;
  height:894px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:439px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:839px;
}
#u1238 {
  position:absolute;
  left:468px;
  top:414px;
  width:418px;
  height:839px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:412px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  position:absolute;
  left:911px;
  top:1216px;
  width:1212px;
  height:93px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:38px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u1243 {
  position:absolute;
  left:1915px;
  top:1249px;
  width:43px;
  height:42px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:41px;
}
#u1245 {
  position:absolute;
  left:1975px;
  top:1251px;
  width:48px;
  height:41px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:12px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u1247 {
  position:absolute;
  left:2028px;
  top:1241px;
  width:64px;
  height:57px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u1249 {
  position:absolute;
  left:919px;
  top:1264px;
  width:145px;
  height:40px;
  font-size:16px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u1251 {
  position:absolute;
  left:923px;
  top:1273px;
  width:24px;
  height:18px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:41px;
}
#u1253 {
  position:absolute;
  left:903px;
  top:431px;
  width:44px;
  height:41px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1255 {
  position:absolute;
  left:951px;
  top:438px;
  width:79px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:57px;
}
#u1257 {
  position:absolute;
  left:993px;
  top:492px;
  width:587px;
  height:57px;
  font-size:16px;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:725px;
}
#u1259 {
  position:absolute;
  left:2452px;
  top:584px;
  width:335px;
  height:725px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1260 {
  position:absolute;
  left:2px;
  top:354px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:742px;
}
#u1261 {
  position:absolute;
  left:3201px;
  top:550px;
  width:324px;
  height:742px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:363px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:715px;
}
#u1263 {
  position:absolute;
  left:4201px;
  top:586px;
  width:321px;
  height:715px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:350px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u1265 {
  position:absolute;
  left:938px;
  top:482px;
  width:45px;
  height:29px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:395px;
}
#u1267 {
  position:absolute;
  left:974px;
  top:739px;
  width:864px;
  height:395px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:190px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:108px;
}
#u1269 {
  position:absolute;
  left:1558px;
  top:559px;
  width:465px;
  height:108px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:46px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u1271 {
  position:absolute;
  left:938px;
  top:700px;
  width:45px;
  height:29px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u1273 {
  position:absolute;
  left:1008px;
  top:707px;
  width:360px;
  height:19px;
  font-size:16px;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:68px;
}
#u1275 {
  position:absolute;
  left:519px;
  top:1253px;
  width:316px;
  height:68px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:26px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:856px;
}
#u1277 {
  position:absolute;
  left:353px;
  top:1656px;
  width:1165px;
  height:856px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:420px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:276px;
}
#u1279 {
  position:absolute;
  left:1811px;
  top:1922px;
  width:548px;
  height:276px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:130px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:247px;
}
#u1281 {
  position:absolute;
  left:1895px;
  top:1551px;
  width:464px;
  height:247px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:116px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u1283 {
  position:absolute;
  left:700px;
  top:511px;
  width:101px;
  height:22px;
  font-size:18px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
}
#u1285 {
  position:absolute;
  left:2640px;
  top:651px;
  width:101px;
  height:19px;
  font-size:16px;
  color:#3D7DFF;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u1287 {
  position:absolute;
  left:2476px;
  top:782px;
  width:81px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u1289 {
  position:absolute;
  left:2476px;
  top:826px;
  width:300px;
  height:41px;
  font-size:14px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u1291 {
  position:absolute;
  left:2469px;
  top:886px;
  width:68px;
  height:16px;
  font-size:14px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u1293 {
  position:absolute;
  left:2466px;
  top:975px;
  width:114px;
  height:16px;
  font-size:14px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:24px;
}
#u1295 {
  position:absolute;
  left:2492px;
  top:925px;
  width:276px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:65px;
}
#u1297 {
  position:absolute;
  left:2458px;
  top:1001px;
  width:329px;
  height:65px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:24px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:24px;
}
#u1299 {
  position:absolute;
  left:2492px;
  top:1021px;
  width:276px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:174px;
}
#u1301 {
  position:absolute;
  left:2470px;
  top:1062px;
  width:306px;
  height:174px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:79px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u1303 {
  position:absolute;
  left:2470px;
  top:1076px;
  width:114px;
  height:16px;
  font-size:14px;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:65px;
}
#u1305 {
  position:absolute;
  left:2458px;
  top:1102px;
  width:329px;
  height:65px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:24px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:24px;
}
#u1307 {
  position:absolute;
  left:2485px;
  top:1123px;
  width:283px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u1309 {
  position:absolute;
  left:3213px;
  top:793px;
  width:300px;
  height:41px;
  font-size:14px;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:44px;
}
#u1311 {
  position:absolute;
  left:505px;
  top:704px;
  width:356px;
  height:44px;
  font-size:18px;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:566px;
}
#u1313 {
  position:absolute;
  left:3196px;
  top:826px;
  width:334px;
  height:566px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:275px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u1315 {
  position:absolute;
  left:3382px;
  top:617px;
  width:101px;
  height:22px;
  font-size:18px;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u1317 {
  position:absolute;
  left:4376px;
  top:651px;
  width:101px;
  height:22px;
  font-size:18px;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u1319 {
  position:absolute;
  left:4212px;
  top:982px;
  width:60px;
  height:16px;
  font-size:14px;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:243px;
}
#u1321 {
  position:absolute;
  left:3919px;
  top:1437px;
  width:805px;
  height:243px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:114px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u1323 {
  position:absolute;
  left:675px;
  top:1273px;
  width:33px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u1325 {
  position:absolute;
  left:2619px;
  top:1257px;
  width:33px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u1327 {
  position:absolute;
  left:3350px;
  top:1352px;
  width:33px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u1329 {
  position:absolute;
  left:4358px;
  top:1263px;
  width:33px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1331 {
  position:absolute;
  left:4243px;
  top:1073px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:90px;
}
#u1333 {
  position:absolute;
  left:4228px;
  top:1114px;
  width:273px;
  height:90px;
  font-size:18px;
  color:#999999;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
}
#u1335 {
  position:absolute;
  left:4271px;
  top:929px;
  width:230px;
  height:30px;
  font-size:16px;
  color:#999999;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u1337 {
  position:absolute;
  left:4215px;
  top:826px;
  width:300px;
  height:41px;
  font-size:14px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:256px;
}
#u1339 {
  position:absolute;
  left:3146px;
  top:1462px;
  width:324px;
  height:256px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:120px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
