body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2837px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:6481px;
}
#u0 {
  position:absolute;
  left:917px;
  top:286px;
  width:1920px;
  height:6481px;
}
#u1 {
  position:absolute;
  left:2px;
  top:3232px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u2 {
  position:absolute;
  left:1342px;
  top:175px;
  width:253px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:66px;
}
#u4 {
  position:absolute;
  left:282px;
  top:844px;
  width:541px;
  height:66px;
  font-size:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:1206px;
  top:826px;
  width:660px;
  height:54px;
}
#u7 {
  position:absolute;
  left:2px;
  top:19px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:823px;
  top:877px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:371px;
  height:8px;
}
#u8_seg1 {
  position:absolute;
  left:363px;
  top:-28px;
  width:8px;
  height:32px;
}
#u8_seg2 {
  position:absolute;
  left:363px;
  top:-28px;
  width:20px;
  height:8px;
}
#u8_seg3 {
  position:absolute;
  left:357px;
  top:-44px;
  width:40px;
  height:40px;
}
#u9 {
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:1192px;
  top:1302px;
  width:1343px;
  height:106px;
}
#u11 {
  position:absolute;
  left:2px;
  top:45px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:88px;
}
#u12 {
  position:absolute;
  left:273px;
  top:1322px;
  width:550px;
  height:88px;
  font-size:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:823px;
  top:1366px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:361px;
  height:8px;
}
#u14_seg1 {
  position:absolute;
  left:353px;
  top:-15px;
  width:8px;
  height:19px;
}
#u14_seg2 {
  position:absolute;
  left:353px;
  top:-15px;
  width:16px;
  height:8px;
}
#u14_seg3 {
  position:absolute;
  left:343px;
  top:-31px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:2148px;
  top:2140px;
  width:314px;
  height:46px;
}
#u17 {
  position:absolute;
  left:2px;
  top:15px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:44px;
}
#u18 {
  position:absolute;
  left:313px;
  top:2119px;
  width:258px;
  height:44px;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:571px;
  top:2141px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1563px;
  height:8px;
}
#u20_seg1 {
  position:absolute;
  left:1555px;
  top:-4px;
  width:8px;
  height:30px;
}
#u20_seg2 {
  position:absolute;
  left:1555px;
  top:18px;
  width:22px;
  height:8px;
}
#u20_seg3 {
  position:absolute;
  left:1551px;
  top:2px;
  width:40px;
  height:40px;
}
#u21 {
  position:absolute;
  left:750px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:214px;
}
#u22 {
  position:absolute;
  left:313px;
  top:3319px;
  width:297px;
  height:214px;
  font-size:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
