body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:6318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1536 {
  position:absolute;
  left:583px;
  top:52px;
  width:202px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u1537 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:797px;
}
#u1538 {
  position:absolute;
  left:4983px;
  top:3154px;
  width:1335px;
  height:797px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:390px;
  width:1331px;
  visibility:hidden;
  word-wrap:break-word;
}
